/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #dddddd;
}

div{
    margin: auto;
    background-color: white;
    vertical-align: middle;
    width: 80%;
}

a{
    color: #046c97;
    border: white solid 2px;
}

#site_header{
    background-color: #ff8523;
}

h2, h3{
    color: #1fabe5;
    font-weight: bold;
}

ul{
    font-weight: bold;
}

table{
    font-weight: normal;
    border-style: solid;
    border-color; #1fabe5;
}

thead{
    background-color: #1fabe5;
    color: white;
}

form{
    background-color: #dddddd;
}

.name{
    background-color: #ff8523;
    color: white;
    border-style: solid;
    margin: 25px;

}

#submit_button{
    background-color: #1fabe5;
    color: white;
}
