/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

}

a{
    color: white;
    border: white;
    display: inline-block;
}

#site_header{
    background-color: #ff8523;
}

.main_navigation{
    color: white;
    border: 1px;
}

h2, h3{
    color: #1fabe5;
    font-weight: bold;
}

ul{
    font-weight: bold;
}

table{
    font-weight: normal;
}

thead{
    background-color: #1fabe5;
    color: white;
}

tbody{
    color: black;
}
