/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body{
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
}

div{
    margin: auto;
    padding: 4px;
    background-color: #dddddd;
    vertical-align: middle;
    width: 80%;
}

a{
    color: #046c97;
}

section {
    background-color: white;
    width: 80%;
    padding: 15px;
    vertical-align: middle;
}

.main_navigation{
    width: 80%;
}

.main_navigation a{
    color: white;
    text-decoration: none;
    border: white solid 1px;
    border-radius: 3px;
    padding: 6px;

}

#site_header{
    background-color: #ff8523;
}

h2, h3{
    color: #1fabe5;
    font-weight: bold;
}

ul{
    font-weight: bold;
}

table{
    font-weight: normal;
}

thead{
    background-color: #1fabe5;
    color: white;
    padding: 0px;
}

tr {
    border-collapse: collapse;
}

td{
    border: 1px solid #1fabe5;
    padding: 5px;

}
td img {
    width: 55px;
    height: 65px;
    padding: 4px;
}

form{
    background-color: #dddddd;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    align-items: center;
}

.name{
    background-color: #ff8523;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 25px;

}
.name label{
    padding: 15px;
  }

#city_container{
    padding: 20px;
}

#submit_button{
    background-color: #1fabe5;
    color: white;
    padding: 15px;
    border-radius: 4px;
}
